@page "/Profile"
@using DatingApp.Models
@using DatingApp.Pages
@using DatingApp.Repository
@inject NavigationManager NM
@inject UserProfile UserProfile
@inject UserRepository repo
<h3>Profile</h3>


@code {

}
