@using DatingApp.Repository
@using DatingApp.Models
@inject UserRepository userRepo
@inject NavigationManager NM
@inject IConfiguration Iconfig
@inject User user
@page "/Register"

<h3>Register</h3>

<EditForm Model="@user" OnValidSubmit="RegisterUser" >
    <InputText @bind-Value="user.Username" placeholder="User name"></InputText>
    <InputText @bind-Value="user.Password1" placeholder="Password"></InputText>
    <InputText @bind-Value="user.Email" placeholder="Email"></InputText>
    <InputText @bind-Value="user.Userrole" placeholder="Userrole"></InputText>
    <button type="submit">Register</button>
</EditForm>

@code {

    private void RegisterUser()
    {
        userRepo = new UserRepository(Iconfig);
        userRepo.AddAccountUser(user);
        NM.NavigateTo("/UserLogin");
    }
}