@using DatingApp.Repository
@using DatingApp.Models
@inject UserRepository userRepository
@inject NavigationManager NM
@inject IConfiguration Iconfig
@page "/Register"

<h3>Register</h3>

<EditForm Model="@user" OnInvalidSubmit="RegisterUser" >
    <InputText @bind-Value="user.Username" placeholder="User name"></InputText>
    <InputText @bind-Value="user.Password1" placeholder="Password"></InputText>
    <InputText @bind-Value="user.Email" placeholder="Email"></InputText>
    <InputText @bind-Value="user.Userrole" placeholder="Userrole"></InputText>
    <button type="submit">Register</button>
</EditForm>

@code {
    private User user = new User();

    private void RegisterUser()
    {
        userRepository = new UserRepository(Iconfig);
        userRepository.AddUser(user);
        NM.NavigateTo("Login");
    }
}