@using DatingApp.Repository
@using DatingApp.Models
@inject UserRepository userRepository
@inject NavigationManager NM
@inject IConfiguration Iconfig
@page "/Register"

<h3>Register</h3>

<from @onsubmit="RegisterUser">
    <InputText @bind-Value="user.Username" placeholer="Username"></InputText>
    <InputText @bind-Value="user.Password1" placeholer="Password"></InputText>
    <InputText @bind-Value="user.Email" placeholer="Email"></InputText>
    <InputText @bind-Value="user.Userrole" placeholder="Userrole"></InputText>
    <button type="submit">Register</button>
</from>

@code {
    private User user = new User();

    private void RegisterUser()
    {
        userRepository = new UserRepository(Iconfig);
        userRepository.AddUser(user);
        NM.NavigateTo("Login");
    }
}
