@page "/UserLogin"
@using DatingApp.Repository
@using DatingApp.Models
@inject UserRepository repo
@inject NavigationManager NM
@inject Login login

<h3>Login</h3>

<EditForm Model="@login" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText @bind-Value="login.Username" placeholder ="User name"></InputText>
    <InputText @bind-Value="login.Password1" placeholder="Password" typeof="password"></InputText>
    <button type="submit">Login</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="text-danger">@errorMessage</p>
    }
</EditForm>

@code {
    private string errorMessage = "";
    private void LoginUser()
    {
        User user = repo.AuthenticateUser(login.Username, login.Password1);

        if(user != null)
        {    
            if (user.HasProfile)
            {
                // Successful login
                NM.NavigateTo("/Profile"); // Redirect to the home page or another page
            }
            else
            {
                NM.NavigateTo("/CreateProfile");
            }
        }
        else
        {
            errorMessage = "Invalid username or password. Please try again";
        }
    }
}
